.earth-container {

    position: absolute;

    width: 1000px;
    height: 1000px;

    /* right: -250px;
    bottom: -250px; */

    left: 50%;
    top: 5%;
    transform: translateX(-50%);

    opacity: .25;

    pointer-events: none;

}