.stars-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
}

.star {
    position: absolute;

    border-radius: 50%;
    background: white;

    box-shadow:
        0 0 4px white,
        0 0 8px rgba(255,255,255,0.7);

    animation: twinkle ease-in-out infinite;
}

@keyframes twinkle {

    0% {
        opacity: .2;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.5);
    }

    100% {
        opacity: .2;
        transform: scale(1);
    }

}